
*, *::before, *::after{
    box-sizing: border-box;
}

html{
    font-size: 10px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    flex-grow: 1;
}

p, a, button, input, label{
    font-size: 1.6rem;
}


a{
    text-decoration: none;
}
